@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato?</h3>
    <br />

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Deletar">Sim</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Index">Não</a>
</div>
