@model Usuario
@{
    ViewData["Title"] = "Confirmação apagar o usuario";
}

<div class="text-center">
    <h3>Realmente deseja apagar o usuario (@Model.Nome)?</h3>
    <br />

    <a class="btn btn-primary" role="button" asp-controller="Usuario" asp-route-id="@Model.Id" asp-action="Apagar">Sim</a>
    <a class="btn btn-danger" role="button" asp-controller="Usuario" asp-action="Index">Não</a>
</div>
